<script setup lang="ts">
import { ref, computed } from 'vue';
const props = defineProps(['name', 'index', 'hslColor', "maxVal"])
const emit  = defineEmits(["changeColorEmit", "setRGBEmit"])

const down = ref(false);
const changeDown = () => {down.value = true}
const changeUp   = () => {down.value = false}

const changeInputValue = (e:Event) => {
  if(down.value){
    emit("setRGBEmit")
    emit("changeColorEmit", props.index, +(e.target as HTMLInputElement).value, props.hslColor)
  }
}

const getButtonColor = (index:number) => {
  if(+index === 0) return `hsl(${props.hslColor[0]}, 100%, 50%)`
  return "black"
}
</script>

<template>
  <div class="input-container">
    <div
      class="label"
      :style="`
        background-color: ${getButtonColor(index)};
      `">
      <span 
        class="label-number"
      > {{ name.toUpperCase() }} </span>
      <span 
        class="value-number"
      > {{ hslColor[index] }} </span>
    </div>
    <input 
      type="range" 
      :id="`${name}-input`" 
      :name="name" 
      :value="hslColor[index]"
      min="0" :max="maxVal" step="1" 
      @change="changeInputValue"
      @mousemove="changeInputValue"
      @mousedown="changeDown"
      @mouseup="changeUp"
    >
  </div>
</template>

<style scoped>
input[type="range"] {
  width: 40%;
  margin-left: 10px;
}

.label {
  width: 120px;
  border-radius: 5px;
  padding: 0;
  color: white;
  display: flex;
}

.label-number {
  width: 60px;
  margin-left: 10px;
  min-width: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.value-number {
  margin-left: 10px;
  min-width: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-container {
  display: flex;
  justify-content: center;
}
</style>