<script setup lang="ts">
import { ref } from 'vue';
const props = defineProps(['name', 'index', 'rgbColor'])
const emit  = defineEmits(["changeColorEmit", "setHSLEmit"])

const down = ref(false);
const changeDown = () => {down.value = true}
const changeUp   = () => {down.value = false}

const changeInputValue = (e:Event) => {
  if(down.value){
    emit("setHSLEmit")
    emit("changeColorEmit", props.index, +(e.target as HTMLInputElement).value, props.rgbColor)
  }
}
const getButtonColor = (index:number) => {
  if(+index === 0) return "red"
  if(+index === 1) return "rgb(0,255,0)"
  return "blue"
}
</script>

<template>
  <div class="input-container">
    <div
      class="label"
      :style="`
        background-color: ${getButtonColor(index)};
        border-color: ${getButtonColor(index)};
        color: ${+index === 1 ? 'black' : 'white'};
      `">
      <span 
        class="label-number"
      > {{ name.toUpperCase() }} </span>
      <span 
        class="value-number"
      > {{ rgbColor[index] }} </span>
    </div>
    <input 
      type="range" 
      :id="`${name}-input`" 
      :name="name" 
      :value="rgbColor[index]"
      min="0" max="255" step="1" 
      @change="changeInputValue"
      @mousemove="changeInputValue"
      @mousedown="changeDown"
      @mouseup="changeUp"
    >
  </div>
</template>

<style scoped>
input[type="range"] {
  width: 40%;
  margin-left: 10px;
}

.label {
  width: 120px;
  border-radius: 5px;
  padding: 0;
  color: white;
  display: flex;
}

.label-number {
  width: 60px;
  margin-left: 10px;
  min-width: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.value-number {
  margin-left: 10px;
  min-width: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-container {
  display: flex;
  justify-content: center;
}
</style>