<script setup lang="ts">
import { ref, computed } from 'vue';
import { HSLToRGB, RGBToHSL, RGBToHEX } from './main';
import RangeInput from './components/RangeInput.vue';
import RangeHSL from './components/RangeHSL.vue';
const rgbColor = ref<number[]>([50,100,150])
const hslColor = ref<number[]>([50,100,150])
const changeColor = (index:number, value:number, _color:number[]) => {
  _color[index] = value
}
const setHSLColor = () => {
  const [r,g,b] = rgbColor.value
  hslColor.value = RGBToHSL(r,g,b)
}
const setRGBColor = () => {
  const [h,s,l] = hslColor.value
  rgbColor.value = HSLToRGB(h,s,l)
}
const getStringRGB = () => {
  const [r,g,b] = rgbColor.value
  return `rgb(${r}, ${g}, ${b})`
}
const getStringHSL = () => {
  const [h,s,l] = hslColor.value
  return `hsl(${h}, ${s}%, ${l}%)`
}
const getStringHEX = () => {
  return RGBToHEX(rgbColor.value[0], rgbColor.value[1], rgbColor.value[2])
}
const copyCliboard = (f:Function) => {
  navigator.clipboard.writeText(f())
}

setHSLColor()

const rangeInputTuple = ["red", "green", "blue"]
const rangeHSLTuple   = [["H", 360], ["S", 100], ["L", 100]]

</script>

<template lang="pug">
.global-container(:style="`background-color: rgb(${rgbColor[0]},${rgbColor[1]},${rgbColor[2]});`")
  .container
    template(v-for="_c,index in rangeInputTuple" :key="_c")
      RangeInput(
        :name="_c"  :index="index" :rgbColor="rgbColor" :hslColor="hslColor"
        @changeColorEmit="changeColor" 
        @setHSLEmit="setHSLColor"
      )
    br
    br
    template(v-for="_l,index in rangeHSLTuple" :key="_l[0]")
      RangeHSL(
        :name="_l[0]" :index="index" :maxVal="_l[1]" :hslColor="hslColor"  :rgbColor="rgbColor"
        @changeColorEmit="changeColor"
        @setRGBEmit="setRGBColor"
      )

    .buttons-grp
      button.copy-button(@click="copyCliboard(getStringRGB)") {{ getStringRGB() }}
      button.copy-button(@click="copyCliboard(getStringHSL)") {{ getStringHSL() }}
      button.copy-button(@click="copyCliboard(getStringHEX)") {{ getStringHEX() }}
</template>

<style scoped>
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.global-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.buttons-grp {
  display: flex;
  align-self: center;
}

.copy-button {
  width: 200px;
  align-self: center;
  font-size: 1.2em;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.copy-button:active {
  background-color: red;
  transition: all 0.1s ease;
}
</style>
